<main class="auth-page">
  <section class="auth-card">
    <div class="google-wordmark" aria-label="Google">
      <span class="google-blue">G</span>
      <span class="google-red">o</span>
      <span class="google-yellow">o</span>
      <span class="google-blue">g</span>
      <span class="google-green">l</span>
      <span class="google-red">e</span>
    </div>

    <h1>Reset password</h1>

    <p class="subtitle">Create a new password for your account.</p>

    <form [formGroup]="form" (ngSubmit)="resetPassword()" novalidate>
      <!-- Email -->

      <label>
        Email address

        <input
          type="email"
          formControlName="email"
          autocomplete="email"
          placeholder="you@example.com"
        />
      </label>

      @if ((submitted || form.controls.email.touched) && form.controls.email.hasError('required')) {
        <small class="error"> Email is required. </small>

      } @else if (
        (submitted || form.controls.email.touched) && form.controls.email.hasError('email')
      ) {
        <small class="error"> Enter a valid email address. </small>
      }

      <!-- New Password -->

      <label>
        New password

        <div class="password-field">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="newPassword"
            autocomplete="new-password"
            placeholder="Enter new password"
          />

          <button type="button" class="text-button" (click)="showPassword = !showPassword">
            {{ showPassword ? 'Hide' : 'Show' }}
          </button>
        </div>
      </label>

      @if (
        (submitted || form.controls.newPassword.touched) &&
        form.controls.newPassword.hasError('required')
      ) {
        <small class="error"> New password is required. </small>

      } @else if (
        (submitted || form.controls.newPassword.touched) &&
        form.controls.newPassword.hasError('minlength')
      ) {
        <small class="error"> Password must contain at least 8 characters. </small>
      }

      <!-- Backend error -->

      @if (error()) {
        <p class="form-error" role="alert">
          {{ error() }}
        </p>
      }

      <!-- Success -->

      @if (success()) {
        <p class="success-message">
          {{ success() }}
        </p>
      }

      <!-- Reset -->

      <button class="primary-button" type="submit" [disabled]="loading()">
        {{ loading() ? 'Resetting...' : 'Reset password' }}
      </button>
    </form>

    <p class="switch-copy">
      Remember your password?

      <a routerLink="/login"> Sign in </a>
    </p>
  </section>
</main>
